$background-color-base: #121212;
$bold-text-color: #fff;
$base-text-color: #a7a7a7;
$card-color: #242424;
$border-radius-oval: 9999px;
$font-family-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

.sideBarCol {
  padding-right: 0 !important;
}

.mainSection {
  background-color: $background-color-base;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.mainSectionHeader {
  padding: 16px 32px;
}

.mainHeaderBtn {
  border-radius: 50% !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-color: rgba(0, 0, 0, 0.7) !important;
  opacity: 0.6;
  cursor: not-allowed !important;
  margin-right: 5px;
  margin-top: 10px;
}

.btnHeaderDark {
  color: $base-text-color !important;
  font-size: 1.1rem !important;
  font-weight: 700 !important;
  padding: 0 !important;
  margin: 0 5px;
}

.btnHeaderDark:hover {
  color: $bold-text-color !important;
  font-size: 1.2rem !important;
}

.btnLogin {
  border-radius: $border-radius-oval !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  height: 50px;
  width: 100px;
  margin-left: 5px;
}

.verticalLine {
  background: $bold-text-color;
  height: 25px;
  margin: 16px;
  width: 1px;
}

.mainContentHeader {
  padding: 0 32px;
}

.mainContentHeaderLink {
  color: $base-text-color;
  text-decoration: none;
}

.mainContentHeaderLink:hover {
  text-decoration: underline;
}

.mainContentHeaderLeftLink {
  color: $bold-text-color;
}

.homePage {
  padding: 16px 32px;
}

.homePageCard {
  padding: 16px;
  margin-bottom: 20px;
  width: 185px;
  background-color: $card-color !important;
  color: $bold-text-color !important;
  cursor: pointer;
}

.homePageCardImg {
  width: 150px !important;
  border-radius: 6px !important;
}

.homePageCardBody {
  padding: 0 !important;
}

.homePageCardTitle {
  margin-top: 15px !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
}

.homePageCardDescription {
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  color: $base-text-color !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.homePageFooter {
  padding: 16px;
  margin-top: 55px;
}

.homePageFooter {
  padding: 0 32px;
}

.footerLinkGroup {
  margin-right: 100px;
}

.footerLinkGroupList {
  padding: 0;
}

.footerLinkTitle {
  margin: 0 0 5px;
  font-size: 1rem;
  font-weight: 700;
}

.footerInforLink {
  display: block;
  text-decoration: none;
  color: $base-text-color;
  margin: 5px 0;
}

.socialLink {
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $bold-text-color;
  margin-right: 15px;
}

.copyRight {
  font-size: 0.875rem;
  font-weight: 400;
  color: $base-text-color;
  padding: 32px 0;
}
