.footer-landingpage {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: #000000;
}
.footer-landingpage .container {
  padding-top: 80px;
  padding-bottom: 60px;
}
.footer-landingpage .container .footer-menu-top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
}
.footer-landingpage .container .footer-menu-top-bar-logo {
  width: 132px;
  height: 40px;
}
.footer-landingpage .container .footer-menu-top-bar-logo svg {
  background-color: #ffffff;
}
.footer-landingpage .container .footer-menu-top-bar-links {
  display: flex;
  gap: 100px;
}
.footer-landingpage .container .footer-menu-top-bar-links-company div,
.footer-landingpage .container .footer-menu-top-bar-links-communities div,
.footer-landingpage .container .footer-menu-top-bar-links-useful-links div {
  margin-top: 20px;
  margin-bottom: 28px;
  margin-left: 28px;
  color: #919496;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.28px;
}
.footer-landingpage .container .footer-menu-top-bar-links-company ul,
.footer-landingpage .container .footer-menu-top-bar-links-communities ul,
.footer-landingpage .container .footer-menu-top-bar-links-useful-links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-landingpage .container .footer-menu-top-bar-links-company ul li,
.footer-landingpage .container .footer-menu-top-bar-links-communities ul li,
.footer-landingpage .container .footer-menu-top-bar-links-useful-links ul li {
  list-style-type: none;
}
.footer-landingpage .container .footer-menu-top-bar-links-company ul li a,
.footer-landingpage .container .footer-menu-top-bar-links-communities ul li a,
.footer-landingpage .container .footer-menu-top-bar-links-useful-links ul li a {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}
.footer-landingpage .container .footer-menu-top-bar-links-company ul li a:hover,
.footer-landingpage
  .container
  .footer-menu-top-bar-links-communities
  ul
  li
  a:hover,
.footer-landingpage
  .container
  .footer-menu-top-bar-links-useful-links
  ul
  li
  a:hover {
  color: #1ed760;
}
.footer-landingpage .container .footer-menu-top-bar-socials {
  display: flex;
  gap: 25px;
}
.footer-landingpage .container .footer-menu-top-bar-socials-instagram,
.footer-landingpage .container .footer-menu-top-bar-socials-twitter,
.footer-landingpage .container .footer-menu-top-bar-socials-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background-color: #222326;
  border-radius: 50%;
  cursor: pointer;
}
.footer-landingpage .container .footer-menu-top-bar-socials-instagram:hover svg,
.footer-landingpage .container .footer-menu-top-bar-socials-twitter:hover svg,
.footer-landingpage .container .footer-menu-top-bar-socials-facebook:hover svg {
  color: #1ed760;
}
.footer-landingpage .container .footer-menu-top-bar-socials-instagram svg,
.footer-landingpage .container .footer-menu-top-bar-socials-twitter svg,
.footer-landingpage .container .footer-menu-top-bar-socials-facebook svg {
  width: 24px;
  height: 24px;
  color: #ffffff;
}
.footer-landingpage .container .footer-menu-bottom-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer-landingpage .container .footer-menu-bottom-bar-links ul {
  display: flex;
  gap: 25px;
}
.footer-landingpage .container .footer-menu-bottom-bar-links ul li {
  list-style-type: none;
}
.footer-landingpage .container .footer-menu-bottom-bar-links ul li a {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #919496;
  font-size: 12px;
  text-decoration: none;
}
.footer-landingpage .container .footer-menu-bottom-bar-links ul li a:hover {
  color: #1ed760;
}
.footer-landingpage .container .footer-menu-bottom-bar-informations {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 12px;
}
.footer-landingpage .container .footer-menu-bottom-bar-informations-top a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #919496;
  font-size: 13px;
  text-decoration: none;
}
.footer-landingpage
  .container
  .footer-menu-bottom-bar-informations-top
  a:hover {
  color: #1ed760;
}
.footer-landingpage .container .footer-menu-bottom-bar-informations-top a svg {
  width: 12px;
  height: 12px;
}
.footer-landingpage .container .footer-menu-bottom-bar-informations-bottom {
  color: #919496;
  font-size: 12px;
}
