@import "../../global/global.scss";

.main-payment-help {
  color: $white-text-color;
  background-color: $background-color-base;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.highlight-payment-help {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: -1;
  background: linear-gradient(
      98.85deg,
      rgba(18, 18, 18, 0.3) 0%,
      $background-color-base 100%
    ),
    linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, $background-color-base 100%),
    $green-btn-color;
}

.body-payment-help {
  max-width: 628px;
  margin: 0px auto;
  padding: 32px 16px 0px;
}

.distance-home-payment-help {
  display: flex;
  flex-direction: row;
  padding: 0px;
  color: $white-text-color;
  width: 100%;
  list-style: none;
  margin-top: 0px;
  margin-block-end: 40px;
}

.home-path-payment-help {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  color: $white-text-color;
}

.home-btn {
  color: $white-text-color;
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 1rem;
  font-weight: 700;
}

.icon-home-btn {
  color: $white-text-color;
  margin: 0px 8px;
  display: inline-flex;
  align-items: center;
  fill: currentColor;
}

.page-title-payment-help {
  box-sizing: border-box;
  color: $white-text-color;
  margin-block: 0px;
  font-size: 3rem;
  font-weight: 700;
  padding-block-end: 40px;
}

.payment-help-buttons {
  max-width: 628px;
  margin: 0px auto;
  padding: 0px 16px;
}

.item-payment-help {
  margin-block-end: 48px;
  text-align: center;
  overflow-wrap: break-word;
  padding-inline: 0px;
}

.menu-payment-help {
  float: left;
}

.button-spacing {
  margin-bottom: 8px;
  color: $white-text-color;
  box-sizing: border-box;
  font-weight: 700;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding-block-start: 4px;
  padding-block-end: 4px;
  min-block-size: 32px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  transition: color 0.2s linear 0s;
}

.button-spacing:hover {
  background-color: hsla(0, 0%, 100%, 0.07);
}

.sections-recommended-topics {
  max-width: 628px;
  margin: 0px auto;
  padding: 0px 16px 32px;
}

.folders-of-recommended-topics {
  box-sizing: border-box;
  padding-inline: 0px;
  margin-block: 0px;
  overflow-wrap: break-word;
  list-style-type: none;
}

.menu-in-payment {
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 1rem;
  font-weight: 400;
  display: list-item;
  list-style-type: none;
}

.item-of-payment{
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
  align-items: center;
}

.each-sub-item-in-payment{
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 1.125rem;
  font-weight: 400;
  color: $white-text-color;
}

.icon-item-payment{
  display: flex;
  flex-shrink: 0;
  fill: currentColor;
  width: 24px;
  height: 24px;
  color: $white-text-color;
  
}