@import "../../global/global.scss";

.footer-play-music {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101010;
  padding: 10px 32px;

  .control-button {
    background: none;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 10px;
  }

  .control-button svg {
    fill: $white-text-color;
  }

  .footer-play-button {
    padding: 9px 15px;
    background-color: $white-text-color;
    color: #101010;
  }

  input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin-top: -5px;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    border-radius: 5px;
  }

  .music-info {
    flex: 0.5;
  }

  .controls {
    flex: 1;
  }

  .volume-control {
    flex: 0.5;
  }

  .volume-control-container {
    margin-left: 217px;

    span {
      cursor: default;
    }

    .tooltip-container {
      position: relative;
    }

    .tooltip-text {
      visibility: hidden;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 125%; /* Adjust the tooltip position */
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    .tooltip-text .mute {
      width: 60px;
    }

    .tooltip-text .unmute {
      width: 70px;
    }

    .tooltip-container:hover .tooltip-text {
      visibility: visible;
    }
  }

  .song-cover {
    margin-right: 10px;
  }

  .footer-play-button.disabled {
    opacity: 0.5;
    cursor: default;
  }
}
