@import "../global/global.scss";

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #000000;
  padding: 24px;
}
.sidebar .logo img {
  width: 130px;
}
.sidebar .navigation ul {
  list-style: none;
  margin-top: 20px;
}
.sidebar .navigation ul li {
  padding: 10px 0px;
}
.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
  color: #ffffff;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
  color: #b3b3b3;
}
.sidebar .navigation ul li .fa {
  font-size: 20px;
  margin-right: 10px;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
  color: #ffffff;
}
.sidebar .policies {
  position: absolute;
  bottom: 100px;
}
.sidebar .policies ul {
  list-style: none;
}
.sidebar .policies ul li {
  padding-bottom: 5px;
}
.sidebar .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}
.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
  text-decoration: underline;
}

.spotify-playlists {
  padding: 20px 40px;
}

.main-search {
  margin-left: 245px;
  margin-bottom: 100px;
}

.search-soptify-playlist {
  padding: 20px 40px;
}

.search-soptify-playlist h2 {
  color: $white-text-color;
  font-size: 22px;
  margin-bottom: 20px;
}

.search-soptify-playlist .list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  min-width: 372px;
}

.item-music {
  border: none;
  background-color: rgb(220, 20, 140);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-music:hover {
  border: none;
}

.item-music::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.item-podcasts {
  border: none;
  background-color: rgb(0, 100, 80);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-live-events {
  border: none;
  background-color: rgb(132, 0, 231);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-made-for-you {
  border: none;
  background-color: rgb(30, 50, 100);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-new-releases {
  border: none;
  background-color: rgb(232, 17, 91);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-2023-in-music {
  border: none;
  background-color: rgb(186, 93, 7);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-merch {
  border: none;
  background-color: rgb(39, 133, 106);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-merch:hover {
  border: none;
}

.item-merch::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.item-vietnamses-music {
  border: none;
  background-color: rgb(96, 128, 8);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-pop {
  border: none;
  background-color: rgb(20, 138, 8);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-k-pop {
  border: none;
  background-color: rgb(20, 129, 8);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-hip-hop {
  border: none;
  background-color: rgb(80, 55, 80);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-podcast-charts {
  border: none;
  background-color: rgb(13, 115, 236);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-educational {
  border: none;
  background-color: rgb(71, 125, 149);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-educational:hover {
  border: none;
}

.item-educational::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.item-documentary {
  border: none;
  background-color: rgb(80, 55, 80);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-comedy {
  border: none;
  background-color: rgb(175, 40, 150);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-charts {
  border: none;
  background-color: rgb(141, 103, 171);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-fresh-finds {
  border: none;
  background-color: rgb(255, 0, 144);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-equal {
  border: none;
  background-color: rgb(5, 105, 82);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-glow {
  border: none;
  background-color: rgb(13, 155, 236);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-glow:hover {
  border: none;
}

.item-glow::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.item-radar {
  border: none;
  background-color: rgb(165, 103, 82);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-discover {
  border: none;
  background-color: rgb(141, 103, 171);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-karaoke {
  border: none;
  background-color: rgb(80, 55, 80);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-mood {
  border: none;
  background-color: rgb(225, 17, 140);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-rock {
  border: none;
  background-color: rgb(233, 20, 41);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-latin {
  border: none;
  background-color: rgb(225, 17, 140);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-latin:hover {
  border: none;
}

.item-latin::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.item-dance-electronic {
  border: none;
  background-color: rgb(216, 64, 0);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-indie {
  border: none;
  background-color: rgb(233, 20, 41);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-workout {
  border: none;
  background-color: rgb(119, 119, 119);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-county {
  border: none;
  background-color: rgb(216, 64, 0);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-r-b {
  border: none;
  background-color: rgb(216, 64, 0);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-chill {
  border: none;
  background-color: rgb(186, 93, 7);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-chill:hover {
  border: none;
}

.item-chill::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.item-sleep {
  border: none;
  background-color: rgb(30, 50, 100);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-party {
  border: none;
  background-color: rgb(83, 122, 161);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-at-home {
  border: none;
  background-color: rgb(81, 121, 161);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-decades {
  border: none;
  background-color: rgb(186, 93, 7);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-love {
  border: none;
  background-color: rgb(230, 30, 50);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-metal {
  border: none;
  background-color: rgb(233, 20, 41);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-metal:hover {
  border: none;
}

.item-metal::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.item-jazz {
  border: none;
  background-color: rgb(119, 119, 119);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-trending {
  border: none;
  background-color: rgb(176, 40, 151);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-classical {
  border: none;
  background-color: rgb(125, 75, 50);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-flok-acoustic {
  border: none;
  background-color: rgb(188, 89, 0);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-focus {
  border: none;
  background-color: rgb(80, 55, 80);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-soul {
  border: none;
  background-color: rgb(220, 20, 140);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-soul:hover {
  border: none;
}

.item-soul::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.item-kids-family {
  border: none;
  background-color: rgb(141, 103, 171);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-gaming {
  border: none;
  background-color: rgb(232, 17, 91);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-anime {
  border: none;
  background-color: rgb(228, 29, 99);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-tv-movies {
  border: none;
  background-color: rgb(175, 40, 150);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-disney {
  border: none;
  background-color: rgb(13, 115, 236);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-netflix {
  border: none;
  background-color: rgb(235, 30, 50);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-netflix:hover {
  border: none;
}

.item-netflix::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.item-instrumental {
  border: none;
  background-color: rgb(83, 122, 161);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-wellness {
  border: none;
  background-color: rgb(165, 103, 82);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-punk {
  border: none;
  background-color: rgb(30, 50, 100);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-ambient {
  border: none;
  background-color: rgb(71, 125, 149);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-blues {
  border: none;
  background-color: rgb(176, 98, 57);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-cooking-dining {
  border: none;
  background-color: rgb(186, 93, 7);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-cooking-dining:hover {
  border: none;
}

.item-cooking-dining::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.item-alternative {
  border: none;
  background-color: rgb(225, 51, 0);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-travel {
  border: none;
  background-color: rgb(13, 114, 237);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-caribbean {
  border: none;
  background-color: rgb(13, 115, 236);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-afro {
  border: none;
  background-color: rgb(216, 64, 0);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-songwriters {
  border: none;
  background-color: rgb(140, 25, 50);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-nature-noise {
  border: none;
  background-color: rgb(71, 125, 149);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-nature-noise:hover {
  border: none;
}

.item-nature-noise::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.item-funk-disco{
  border: none;
  background-color: rgb(230, 30, 50);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-league-of-legends{
  border: none;
  background-color: rgb(20, 138, 8);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-spotify-singles{
  border: none;
  background-color: rgb(119, 119, 119);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-summer{
  border: none;
  background-color: rgb(39, 133, 106);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-tastemakers{
   border: none;
  background-color: rgb(232, 17, 91);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.img-list {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  bottom: 0;
  position: absolute;
  width: 50%;
  right: 0;
  -webkit-transform: rotate(25deg) translate(18%, -2%);
  transform: rotate(25deg) translate(18%, -2%);
}

.span-list {
  font-size: 1.5rem;
  font-weight: 700;
  color: $white-text-color;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 16px;
  position: absolute;
}
