@import "../global/global.scss";

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #000000;
  padding: 24px;
}
.sidebar .logo img {
  width: 130px;
}
.sidebar .navigation ul {
  list-style: none;
  margin-top: 20px;
}
.sidebar .navigation ul li {
  padding: 10px 0px;
}
.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
  color: #ffffff;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
  color: #b3b3b3;
}
.sidebar .navigation ul li .fa {
  font-size: 20px;
  margin-right: 10px;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
  color: #ffffff;
}
.sidebar .policies {
  position: absolute;
  bottom: 100px;
}
.sidebar .policies ul {
  list-style: none;
}
.sidebar .policies ul li {
  padding-bottom: 5px;
}
.sidebar .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}
.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
  text-decoration: underline;
}

.spotify-playlists {
  padding: 20px 40px;
}

.main-search {
  margin-top: 60px;
  margin-left: 245px;
  margin-bottom: 100px;
}

.search-soptify-playlist {
  padding: 20px 40px;
}

.search-soptify-playlist h2 {
  color: $white-text-color;
  font-size: 22px;
  margin-bottom: 20px;
}

.search-soptify-playlist .list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  min-width: 372px;
}

.item-music {
  border: none;
  background-color: rgb(220, 20, 140);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 187px;
}

.item-music:hover {
  border: none;
}

.item-music::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.img-list {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  bottom: 0;
  position: absolute;
  width: 50%;
  right: 0;
  -webkit-transform: rotate(25deg) translate(18%, -2%);
  transform: rotate(25deg) translate(18%, -2%);
}

.span-list {
  font-size: 1.5rem;
  font-weight: 700;
  color: $white-text-color;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 16px;
  position: absolute;
}

.play-button-search-page {
  position: absolute;
  margin-top: 3px;
  margin-left: 15px;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: $white-text-color;
}

.list-song-table-description:hover .play-button-search-page {
  display: block;
}
