@import "../global/global.scss";

.reset-password-page {
  padding: 32px;
}

.reset-password-header > .logo-link {
  padding: 0;
}

.reset-password-main > .container-form {
  width: 450px;
}

.reset-password-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
}

.reset-password-description {
  text-align: center;
  color: $base-color;
  font-size: 1rem;
  line-height: 1.5rem;
}

.reset-password-form {
  margin-top: 25px;
}

.need-help {
  color: $base-color;
}

.spotify-support-link {
  color: $base-color;
}
