$base-color: #a7a7a7;
$white-text-color: #fff;

.resetPasswordPage {
  padding: 32px;
}

.resetPasswordHeader > .logoLink {
  padding: 0;
}

.resetPasswordMain > .containerForm {
  width: 450px !important;
}

.resetPasswordTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
}

.resetPasswordDescription {
  text-align: center;
  color: $base-color;
  font-size: 1rem;
  line-height: 1.5rem;
}

.resetPasswordForm {
  margin-top: 25px;
}

.needHelp {
  color: $base-color;
}

.spotifySupportLink {
  color: $base-color;
}
