@import "../global/global.scss";

.playlist-container {
  margin-left: 245px;
  margin-bottom: 100px;
  position: relative;
}

.playlist-main {
  margin-top: 60px;
}

.spinner-container {
  margin: 200px 600px 150px;
  z-index: 1000;
}

.playlist-main-content {
  padding: 24px;
  align-items: end;
}

.playlist-image-space {
  margin-right: 24px;
}

.playlist-image {
  width: 232px;
  height: 232px;
}

.description-playlist {
  color: $base-color;
  font-size: 0.875rem;
  font-weight: 400;
}

.song-playlist {
  padding: 0 24px;
}

.song-playlist .dropdown {
  position: unset;
}

.play-react-option-list-song .play-btn {
  border: none;
  border-radius: 100%;
  background-color: $green-btn-color;
  color: $background-color-base;
  width: 60px;
  height: 60px;
  margin-right: 24px;
}

.play-react-option-list-song .play-btn:hover {
  background-color: $green-hover-btn-color;
  color: $background-color-base;
}

.play-react-option-list-song .play-btn:active {
  background-color: $green-hover-btn-color !important;
  color: $background-color-base;
}

.play-react-option-list-song .play-btn .fa-play {
  font-size: 1.4rem;
  padding: 14px 11px;
}

.play-react-option-list-song .heart-btn {
  border: none;
  border-radius: 100%;
  background-color: #000000;
  color: $base-color;
  width: 60px;
  height: 60px;
  margin-right: 24px;
}

.play-react-option-list-song .heart-btn:hover {
  background-color: #000000;
}

.play-react-option-list-song .heart-btn:active {
  background-color: #000000 !important;
}

.play-react-option-list-song .heart-btn .fa-heart {
  font-size: 2.6rem;
  padding: 5px 2px;
}

.more-option .dropdown-toggle::after {
  display: none;
}

.more-option .option-icon {
  color: $base-color;
  font-size: 1.4rem;
  padding: 12px;
}

.more-option .option-icon:hover {
  color: $white-text-color;
}

.more-option .more-option-menu {
  background-color: #242424;
  padding: 4px;
}

.more-option .more-option-menu-item {
  color: $white-text-color;
}

.more-option .more-option-menu-item:hover {
  background-color: #3a3939;
  color: $white-text-color;
  border-radius: 4px;
}

.more-option .more-option-menu-item .more-option-menu-item-btn {
  color: $white-text-color;
  padding: 0;
}

.more-option
  .more-option-menu-item
  .more-option-menu-item-btn
  .more-option-menu-item-icon {
  margin-right: 12px;
}

.more-option .more-option-menu-item .more-option-menu-item-text {
  font-size: 0.875rem;
  font-weight: 400;
}

.more-option-menu-item-btn .search-folder {
  width: 100%;
  height: 20px;
  border-radius: 4px;
}

.more-option-menu-item .dropdown-end {
  background-color: #242424;
}

.dropdown-end .dropdown-toggle::after {
  display: none !important;
}

.list-view-as .dropdown-toggle::after {
  display: none;
}

.list-view-as .list-icon {
  color: $base-color;
  font-size: 1.4rem;
  padding: 12px;
}

.list-view-as .list-menu {
  background-color: #242424;
  padding: 4px;
}

.list-view-as .list-menu-item {
  color: $white-text-color;
}

.list-view-as .list-menu-item:hover {
  background-color: #3a3939;
  color: $white-text-color;
  border-radius: 4px;
}

.list-view-as .list-menu-item .list-menu-item-btn {
  color: $white-text-color;
  padding: 0;
}

.list-view-as .list-menu-item .list-menu-item-btn .list-menu-item-icon {
  margin-right: 12px;
}

.list-view-as .list-menu-item .list-menu-item-text {
  font-size: 0.875rem;
  font-weight: 400;
}

.list-menu-item .check-active {
  color: $green-btn-color !important;
}

.list-song {
  margin-top: 20px;
}

.playlist-footer {
  padding: 0 24px;
}

// Tablet interface
@media only screen and (min-width: 660px) and (max-width: 830px) {
  .playlist-title {
    font-size: 2.6em !important;
  }

  .playlist-infor {
    flex-wrap: wrap;
  }

  .list-table-head__tablet {
    display: none;
  }
}

// Mobile interface
@media only screen and (max-width: 600px) {
  .playlist-container {
    margin-left: 0;
  }

  .playlist-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .playlist-title {
    font-size: 2.2em !important;
  }

  .list-table-head__mobile {
    display: none;
  }
}
