@import "../global/global.scss";

.container-account-manage-plan {
  width: 1000px;
  margin: 0 auto;
}

.container-account-manage-plan .btn-back-page {
  background-color: rgb(87, 87, 87);
  border: 1px solid $background-color-base;
  border-radius: 50%;
  margin-left: 13%;
  margin-bottom: 2%;
}
.container-account-manage-plan .btn-back-page:hover {
  background-color: rgb(55, 55, 55);
}

.container-account-manage-plan .title-account-manage-plan {
  margin-top: 3%;
  margin-left: 13%;
  margin-bottom: 2%;
  font-weight: 600;
}

.container-account-manage-plan .navbar-container {
  background-color: $background-color-base;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.container-account-manage-plan .title-spotify-account-manage-plan {
  flex: 1;
  background-color: rgb(151, 151, 151);
  width: 100%;
  height: 150px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 4px;
}

.container-account-manage-plan .navbar-container .title-navbar {
  margin-left: 20px;
  margin-top: 45px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.container-account-manage-plan .navbar-container .tab {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  color: #fff;
  padding: 13px 15px;
  margin-bottom: 10px;

  i {
    font-size: 1.5rem;
    color: #a9a9a9;
    text-align: center;

    &#library-icon {
      width: 26px;
    }
  }

  p {
    margin: auto 0 auto 15px;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .icon-check-manage-plan {
    color: rgb(0, 203, 0);
  }
}

.container-account-manage-plan .btn-learn-more-plan {
  text-decoration: underline;
  color: white;
  margin-left: 15px;
}

.container-account-manage-plan .btn-learn-more-plan:hover {
  color: rgb(0, 203, 0);
}

.container-account-manage-plan hr {
  margin: 15px;
}

.container-account-manage-plan .free {
  font-size: 30px;
  font-weight: 600;
  padding-left: 15px;
  padding-bottom: 30px;
}

.container-account-manage-plan .btn-premium-account-manage-plan {
  margin-left: 13%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 19px;
  font-weight: 600;
  background-color: $background-color-base;
  border: 1px solid gray;
  border-radius: 50px;
  text-align: center;
}

.btn-premium-account-manage-plan a {
  color: white;
}

.container-account-manage-plan .btn-premium-account-manage-plan:hover {
  font-size: 20px;
  border: 1px solid white;
}
.container-account-manage-plan .btn-premium-account-manage-plan a:hover {
  color: rgb(2, 214, 44);
}
