$base-color: #a7a7a7;
$white-text-color: #fff;
$green-btn-color: #1fdf64;

.loginHeader {
  padding: 32px 0px 32px 51px;
}

.loginHeader > .logoLink {
  padding: 0;
}

.loginTitle {
  font-size: 2.4rem;
  font-weight: 700;
}

.loginForm {
  margin-top: 10px;
}

.formRememberMe .form-check-input:checked {
  background-color: $green-btn-color !important;
  border-color: $green-btn-color !important;
}

.forgotPassword {
  color: $white-text-color;
}

.doNotHaveAccount {
    color: $base-color;
    font-size: 0.9rem;
}

.signupLink {
    color: $white-text-color;
    font-size: 0.9rem;
}
