@import "../global/global.scss";

.footer-link-group {
  margin-right: 100px;
}

.footer-link-group-list {
  padding: 0;
}

.footer-link-title {
  margin: 0 0 5px;
  font-size: 1rem;
  font-weight: 700;
}

.footer-info-link {
  display: block;
  text-decoration: none;
  color: $base-color;
  margin: 5px 0;
}

.social-link {
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $white-text-color;
  margin-right: 15px;
}

.copyright {
  font-size: 0.875rem;
  font-weight: 400;
  color: $base-color;
  padding: 32px 0;
}
