$background-color-base: #121212;
$base-color: #a7a7a7;
$white-text-color: #fff;
$green-btn-color: #1fdf64;
$green-hover-btn-color: #12eb61;
$table-background-color-base: #101010;
$btn-border-radius: 500px;

body {
  background-color: #000;
  color: white;
  padding: 8px 0px;
}

.logo-spotify img {
  width: 130px;
}

.no-scroll {
  overflow: hidden;
}

.logo-link > svg {
  fill: $white-text-color;
}

.form-label {
  font-size: 0.875rem;
  font-weight: 700;
}

.input-form {
  background-color: $background-color-base;
  color: $white-text-color;
  margin: 10px 0;
}

.input-form::placeholder {
  color: $base-color;
}

.submit-btn {
  background-color: $green-btn-color;
  border: none;
  border-radius: $btn-border-radius;
  margin: 20px 0;
  width: 100%;
  height: 50px;
  color: #000;
  font-weight: 700;
}

.submit-btn:hover {
  background-color: $green-hover-btn-color;
  color: #000;
}

.custom-input {
  padding-bottom: 1%;
}

.custom-input-error label {
  color: red;
}

.custom-input-error input {
  border: 2px solid red;
  border-radius: 4px;
}

.error {
  color: red;
  margin: 0;
}

.password-toggle-btn {
  position: absolute;
  top: 10px;
  height: 10%;
  border-color: $white-text-color;
}

.password-toggle-btn:hover {
  border-color: $base-color;
  background-color: $base-color;
}

.btn-external-link {
  background-color: $background-color-base;
  border-color: $base-color;
  border-radius: $btn-border-radius;
}

.btn-external-link:hover {
  border-color: $white-text-color;
  background-color: $background-color-base;
}

.external-link-icon {
  float: left;
  margin-top: 4px;
}

.sign-up-sign-in-footer {
  margin-top: 100px;
}

.footer-text {
  color: $base-color;
  font-size: 0.6875rem;
  font-weight: 400;
}

.policies-link {
  color: $base-color;
}

.type {
  font-size: 0.875rem;
  font-weight: 500;
}

.playlist-title,
.album-title {
  margin: 0.08em 0px 0.12em;
  font-size: 3rem;
  font-weight: 700;
}

.playlist-infor,
.album-infor {
  margin-top: 8px;
}

.playlist-artist-image,
.album-artist-image {
  margin-right: 4px;
  width: 24px;
  height: 24px;
}

.playlist-artist-name,
.album-artist-name {
  font-size: 0.875rem;
  font-weight: 700;
  color: $white-text-color;
  text-decoration: none;
}

.playlist-artist-name:hover,
.album-artist-name:hover {
  text-decoration: underline;
}

.likes,
.songs-over-24-hr {
  font-size: 0.875rem;
  font-weight: 400;
}

.likes::before,
.songs-over-24-hr::before {
  content: "•";
  margin: 0 4px;
}

.over-24-hr {
  color: $base-color;
}

.list-table-song {
  background-color: $table-background-color-base;
}

.list-table-song .list-table-head,
.list-compact-table-song .list-table-head {
  background-color: $table-background-color-base;
}

.list-table-description,
.list-song-table-description,
.list-album-table-description {
  background-color: $table-background-color-base !important;
}

.list-song .list-table-head {
  color: $base-color;
}

.list-table-song .list-table-description {
  color: $base-color;
  border: none;
  padding-top: 20px;
}

.list-compact-table-song .list-table-description {
  color: $base-color;
  border: none;
}

.index-table {
  width: 40px;
}

.link-album {
  color: $base-color;
  text-decoration: none;
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link-album:hover {
  color: $white-text-color;
  text-decoration: underline;
}

.link-song {
  color: $white-text-color;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link-song:hover {
  text-decoration: underline;
}

.song-active {
  color: $green-hover-btn-color;
}

.link-artist {
  color: $base-color;
  text-decoration: none;
  cursor: pointer;
}

.link-artist:hover {
  color: $white-text-color;
  text-decoration: underline;
}

.modal-song-playlist-image {
  max-width: 200px;
  margin-right: 20px;
}

.modal-song-playlist-title {
  font-weight: 700;
}

.modal-button-sign-up {
  border-radius: $btn-border-radius;
  padding: 10px 20px;
  margin: 20px 0 0;
}

// Tablet interface
@media only screen and (min-width: 660px) and (max-width: 830px) {
  .list-song-table-description__tablet {
    display: none;
  }
}

// Mobile interface
@media only screen and (max-width: 600px) {
  .header-play-button {
    display: none !important;
  }

  .list-song-table-description__mobile {
    display: none;
  }

  .song-artist-name {
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .link-song,
  .link-artist {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
