$background-color-base: #121212;
$base-color: #a7a7a7;
$white-text-color: #fff;
$green-btn-color: #1fdf64;
$btn-border-radius: 500px;

body {
  background-color: #000;
  color: white;
  padding: 8px 0px;
}

.spotifyWebApp {
  height: 100%;
  width: 100%;
}

.logoLink > svg {
  fill: $white-text-color;
}

.formLabel {
  font-size: 0.875rem;
  font-weight: 700;
}

.inputForm {
  background-color: $background-color-base !important;
  color: $white-text-color !important;
  margin: 10px 0;
}

.inputForm::placeholder {
  color: $base-color !important;
}

.submitBtn {
  background-color: $green-btn-color !important;
  border: none !important;
  border-radius: $btn-border-radius !important;
  margin: 20px 0;
  width: 100%;
  height: 50px;
  color: #000 !important;
  font-weight: 700 !important;
}

.submitBtn:hover {
  background-color: #13eb5f !important;
}

.customInput {
  padding-bottom: 1%;
}

.customInputError label {
  color: red;
}

.customInputError input {
  border: 2px solid red;
  border-radius: 4px;
}

.error {
  color: red;
  margin: 0;
}

.btnExternalLink {
  background-color: $background-color-base !important;
  border-color: $base-color !important;
  border-radius: $btn-border-radius !important;
  margin: 20px 0;
}

.btnExternalLink:hover {
  border-color: $white-text-color !important;
}

.externalLinkIcon {
  float: left;
  margin-top: 4px;
}

.signUpsignInFooter {
  left: 0;
  right: 0;
}

.footerText {
  color: $base-color;
  font-size: 0.6875rem;
  font-weight: 400;
}

.policiesLink {
  color: $base-color;
}
